<script id="tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top">
        <!-- Pets Tab -->
        <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
            <ion-nav-view name="tab-dash"></ion-nav-view>
        </ion-tab>

        <!-- Adopt Tab -->
        <ion-tab title="Friends" icon="icon ion-heart" href="#/tab/friends">
            <ion-nav-view name="tab-friends"></ion-nav-view>
        </ion-tab>


    </ion-tabs>
</script>

<script id="tab-friends.html" type="text/ng-template">
    <ion-view title="Friends">
        <ion-content class="has-header">
            <ion-list>
                <ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
                    {{friend.name}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
</script>

<script id="tab-dash.html" type="text/ng-template">
    <ion-view title="Dashboard">
        <ion-content class="has-header padding">
            <h1>Dash</h1>
            <a class="button" href="#/tab/account">Go To Hidden Account Tab</a>
        </ion-content>
    </ion-view>
</script>