<ion-view view-title="Hello">
  <!--<ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
  </ion-content>-->
  <ion-header-bar class="bar-stable">
    <h1 class="title">Cordova Text-to-Speech</h1>
  </ion-header-bar>
  <ion-content>

    <!--<button class="button button-full button-positive" >
          Record
        </button>-->
    <div class="row">
      <div class="col col-50"> </div>
      <div class="col">
        <i class="icon ion-mic-a text-center" ng-click="record()"></i>
        <ion-spinner icon="ripple" ng-show="showLoader" " class="spinner-assertive "></ion-spinner>

      </div>
      <div class="col "> </div>
    </div>
    <!--<ion-spinner icon="lines " class="spinner-assertive text-center "></ion-spinner>-->
<button id = "playAudio ">PLAY</button>
    <div class="item item-text-wrap ">
      {{recognizedText}}
    </div>

<button class="button button-calm" ng-click="getSpeech()">
  Speak
</button>

  </ion-content>
  </ion-pane>
</ion-view>